.prefTitle {
    font-style: normal;
    font-weight: bold;
    color: #212121;
}


.subtitle {
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #212121;
}

.button-container{
    position: relative;
    width: 100%;
    height: 60vh;
}

.button {
    border-radius: 50%;
    border: none;
    position: absolute;
    width: 10vw;
    height: 10vw;
    min-width: 120px;
    min-height: 120px;
    transition: all 1s ease;

}

.button1 {
    background-color: #FFCBCB;
    left: 40%;
    top: 5%;
}

.button2 {
    background-color: #CCE8C5;
    left: 55%;
    top: 10%;

}

.button3 {
    background-color: #C4D5EF;
    left: 30%;
    top: 40%;

}

.button4 {
    background-color: #CBCADF;
    left: 60%;
    top: 50%;

}

.button5 {
    background-color: #FFF0CB;
    left: 45%;
    top: 55%;

}

@media screen and (max-width: 800px) {
    .button1 {
        background-color: #FFCBCB;
        left: 20%;
        top: 10%;
    }
    .button2 {
        background-color: #CCE8C5;
        left: 55%;
        top: 20%;
    
    }
    
    .button3 {
        background-color: #C4D5EF;
        left: 10%;
        top: 40%;
    
    }
    
    .button4 {
        background-color: #CBCADF;
        left: 60%;
        top: 50%;
    
    }
    
    .button5 {
        background-color: #FFF0CB;
        left: 30%;
        top: 65%;
    
    }
}
    

.continue {

    background: #000000;
    border: none;

    box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
    border-radius: 100px;

    color: white;
}