.prefTitle {
    font-style: normal;
    font-weight: bold;
    color: #212121;
}


.subtitle {
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #212121;
}

.button-container {
    position: relative;
    width: 100%;
    height: 60vh;
}

.button {
    border-radius: 50%;
    border: none;
    position: absolute;
    width: 10vw;
    height: 10vw;
    min-width: 120px;
    min-height: 120px;
    transition: all 1s ease;
}

.button1 {

    background-color: #e9ecef;
    left: 38%;
    top: 10%;
}

.button2 {
    background-color: #b2f2bb;
    left: 50%;
    top: 5%;

}

.button3 {
    background-color: #ffd8a8;

    left: 30%;
    top: 35%;

}

.button4 {
    background-color: #ffc9c9;
    left: 58%;
    top: 37%;

}

.button5 {
    background-color: #fcc2d7;
    left: 46%;
    top: 37%;

}

.button6 {
    background-color: #eebefa;
    left: 25%;
    top: 2%;
}

.button7 {
    background-color: #d0bfff;
    left: 62%;
    top: 1%;

}

.button8 {
    background-color: #bac8ff;
    left: 28%;
    top: 70%;

}

.button9 {
    background-color: #a5d8ff;
    left: 65%;
    top: 64%;

}

.button10 {
    background-color: #99e9f2;
    left: 40%;
    top: 65%;
}

.button11 {
    background-color: #ffec99;

    left: 53%;
    top: 68%;

}

.button12 {
    background-color: #96f2d7;
    left: 70%;
    top: 33%;
}

@media screen and (max-width: 800px) {

    .button {
        font-size: 10px;
        width: 5vw;
        height: 5vw;
        min-width: 80px;
        min-height: 80px;
    }

    .button1 {

        background-color: #e9ecef;
        left: 42%;
        top: 3%;
    }

    .button2 {
        background-color: #b2f2bb;
        left: 65%;
        top: 5%;

    }

    .button3 {
        background-color: #ffd8a8;

        left: 31%;
        top: 23%;

    }

    .button4 {
        background-color: #ffc9c9;
        left: 64%;
        top: 53%;

    }

    .button5 {
        background-color: #fcc2d7;
        left: 8%;
        top: 26%;

    }

    .button6 {
        background-color: #eebefa;
        left: 18%;
        top: 6%;
    }

    .button7 {
        background-color: #d0bfff;
        left: 55%;
        top: 25%;

    }

    .button8 {
        background-color: #bac8ff;
        left: 10%;
        top: 47%;

    }

    .button9 {
        background-color: #a5d8ff;
        left: 76%;
        top: 35%;

    }

    .button10 {
        background-color: #99e9f2;
        left: 25%;
        top: 65%;
    }

    .button11 {
        background-color: #ffec99;

        left: 48%;
        top: 69%;

    }

    .button12 {
        background-color: #96f2d7;
        left: 39%;
        top: 45%;
    }
}


.continue {

    background: #000000;
    border: none;

    box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
    border-radius: 100px;

    color: white;
}