.black-background{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.white-background{
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.event-card{
    width: 400px;
    padding: 20px;
    margin: 10px;
}

.cursor{
    cursor: pointer;
}

.lg-view{
    display:inline-block;
 }

 .sm-lg-view{
    display:none;
 }

@media screen and (max-width: 1200px) {
    .lg-view{
       display:none;
    }
  
    .sm-lg-view{
       display:inline-block;
    }
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

.profile-pic{
    width: 15vw;
    height: 15vw;
    background-color: gainsboro;
    border-radius: 50%;
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
}

.profile-pic-md{
    width: 8vw;
    height: 8vw;
    background-color: gainsboro;
    border-radius: 50%;
    min-width: 90px;
    min-height: 90px;
    overflow: hidden;
}

.headshot{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: dimgray;
    cursor: pointer;
    overflow: hidden;
}

.input{
    border: none;
    border-bottom: 1px solid #212121;
    color: #212121;
}

.nav-pills .nav-item .nav-link.active {
    background-color: #383838;
  }

.nav-pills .nav-item .nav-link{
    color: #212121;
}

.line-segment{
    border-bottom: 2px solid #d5d5d5;
    width: 100vw;
}